#header h1 a {
  font-size: 1em;
}

#intro a {
	border-bottom: none;
}

a:not(.icons):not(.button):not(.share-btn):hover {
	color: #2f5e8d !important;
}

a.icons:hover {
	color: #d46900 !important;
}

a:not(.icons):not(.button):not(.share-btn):hover:before {
	color: #2f5e8d !important;
}

a.icons:hover:before {
	color: #d46900 !important;
}

#intro .icons a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
	color: #d46900 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
	border: solid 1px #d46900;
	color: #d46900 !important;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
select:hover,
textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border-color: #d46900;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
	border: solid 1px #d46900;
}

input[type="radio"]:focus + label:before {
	border: solid 1px #d46900;
}

#menu .links > li a:hover h3 {
	color: #d46900;
}